<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style/style.css">
    <title>Healthy Eating</title>
</head>
<body>
    <header>
        <!--Navbar-->
    </header>

    <main>
        <section>
            <!--Banner-->
        </section>
        <section>
            <!--Feed-->
            <aside>
                <!--Filters-->
            </aside>
            <aside>
                <!--Results-->
            </aside>
        </section>
    </main>

    <footer>
        <!--Declaration and links-->
    </footer>
</body>
<script src="./static/scripts/carousel.js"></script>
<script src="./static/scripts/unit-switch.js"></script>
<script src="./static/scripts/bmr-calc.js"></script>
</html>